<h1>Sistema de Protocolos</h1>

<h2>O que é um protocolo?</h2>
<p></h2>
Um protocolo é um registro em duas vias relacionando a entrada ou saída de algum documento, objeto ou equipamento da sua organização. Um protocolo sempre possui um remetente (quem está enviando) e um destinatário (quem está recebendo).
</p>
<p>Você pode criar protocolos internos (entre áreas) na sua instituição ou protocolos externos, envolvendo terceiros.</p>
