<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6"> 
            <fieldset>
            <form>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">O email não será compartilhado..</div>
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
            </form>
            </fieldset>
        </div>
    </div>
</div>