<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4"> 
            <fieldset>
            <form>
                <div class="mb-3">
                    <label for="inputName" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="inputName" aria-describedby="namelHelp">
                </div>
                <div>
                    <label for="inputTipo" class="form-label">Tipo de usuário</label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="inputTipo">
                        <option value="1">Administrador</option>
                        <option value="2">Comum</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-primary "><i class="bi bi-save"></i> Cadastrar</button>
            </form>
            </fieldset>
        </div>
    </div>
</div>