<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-sm">
                <thead>
                    <tr>
                    <th scope="col">N° Protocolo</th>
                    <th scope="col">Origem</th>
                    <th scope="col">Destino</th>
                    {{!-- <th scope="col">Opção</th> --}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">02323231/22</th>
                    <td>Dep. Financeiro : Resp:Fulano de tal</td>
                    <td>Dep. Pessoal : Resp:Ciclano Beltrano</td>
                    {{!-- <td><button class="btn btn-info"><i class="bi bi-search"></i> Detalhes</button></td> --}}
                    </tr>
                    <tr>
                        <th>Descrição</th>
                        <td colspan="2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sapiente odio, itaque ducimus praesentium laborum distinctio a quam corrupti consectetur, necessitatibus qui quo nostrum placeat? Consectetur enim laudantium delectus excepturi.
                        </td>
                    </tr>
                     <tr>

                    <tr>
                        <td colspan="3">
                            <h4>Anexo(s):</h4>
                        </td>
                    </tr>
                     <tr>
                    <th scope="col">Nome do Item</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Anexo(s)</th>
                    {{!-- <th scope="col">Ações</th> --}}
                </tr>
                <tr>
                    <td>Um nome mais ou menos</td>
                    <td>Um nome muito grande para teste</td>
                    <td><a href="#">Anexo . pdf</a></td>
                    {{!-- <td><butto class="btn btn-danger">Excluir <i class="bi bi-eraser"></i></button></td> --}}
                </tr>
                <tr>
                    <td>Um nome mais ou menos</td>
                    <td>Um nome muito grande para teste</td>
                    <td><a href="#">Anexo . pdf</a></td>
                    {{!-- <td><butto class="btn btn-danger">Excluir <i class="bi bi-eraser"></i></button></td> --}}
                </tr>
                <tr>
                    <td>Um nome mais ou menos</td>
                    <td>Um nome muito grande para teste</td>
                    <td><a href="#">Anexo . pdf</a></td>
                    {{!-- <td><butto class="btn btn-danger">Excluir <i class="bi bi-eraser"></i></button></td> --}}
                </tr>

                </tbody>
            </table>

        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-primary"><i class="bi bi-check"></i>Finalizar</button>
                <button type="button" class="btn btn-light"><i class="bi bi-printer"></i> Imprimir</button>
                <button type="button" class="btn btn-secondary"><i class="bi bi-share"></i> Encaminhar</button>
                
            </div>
        </div>
    </div>
</div>