<div class="container">

<div class="row">

    <div class="col align-text-center"><h1>Lista de Protocolos <i class="bi bi-card-list"></i></h1></div>
</div>
<div class="row">

    
    <div class="col">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Ultimos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pendentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Finalizados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">N° Protocolo</th>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Opção</th>
            </tr>
        </thead>
        <tbody>
             {{#each listaProtocolos}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{'remetente.nome'}}</td>
                <td>Dep. Pessoal</td>
                <td>
                    <form action="/protocolo/detalhe">
                        <button type="submit"  class="btn btn-info"><i class="bi bi-search"></i> Detalhes</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
</div>

</div>